
.App-intro {
    font-size: large;
}

.App {
  text-align: center;
}

* {
    list-style-type: none;
    font-family: 'Avenir Next', sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    word-wrap: break-word;

}
body {
    font-family: 'Avenir Next', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    background-color: #FEFCF9;
}

label{
    text-align: right;
    font-size: 20px;
    margin: 4px;
    color: #;
    font-weight: bold;
}


.small-button,#edit-button,#delete-button{
  width: 8vh;
  height: 6vh;
  margin-left:1vh;
}

#cancel-button{
  width: 13vh;
  margin-left:1vh;
}

input[type=text],input[type=password]
input[type=email],input[type=date],input[type=password],
,input[type=email]{
    background-color: #FEFCF9;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    border: 1px solid #979797;
    border-radius: 3px;
    text-align: left;
    font-size: 20px;
}


input[type=time],input[type=date] {
    font-family: 'Avenir Next', sans-serif;
    font-size: 20px;
    width: 12vh;
}

input[type=text],input[type=password],select
input[type=email],input[type=date],input[type=password],
,input[type=email]:focus {
    border: 2px solid #FFBC19;
    transition: .7s;
  }

select {
    margin:auto;
    margin-bottom: 2px;
    display: inline-block;
    box-shadow: inset 0 2px 0 #dcd0c0;
    border-radius: 3px;
    border: 1px solid #979797;
    font-size: 3vh;
    text-align: left;
    width: 50%;
}

.small{
  width: 5%;
  height: 5vh;
}

textarea{
    border: 1px solid #979797;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    margin: 10px auto;
    height: 20vh;
    width: 50%;
    padding: 20px 10px;
    font-size: 3vh;
    background-color: #FEFCF9;
}

input{
    margin: 6px 0;
    align-self: right;
    padding: 4px;
    font-size: 2.5vh;
    border-radius: 5px;
}

.small-input{
    width: 40px;
}


input[type=submit], .button-span {
    border-radius: 10px;

}

label{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
    color: #f7b733;
}

input[type=text],input[type=password]
input[type=email],input[type=date],input[type=password],
,input[type=email]{
    background-color: #FEFCF9;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    border: 1px solid #979797;
    border-radius: 3px;
    text-align: left;
    font-size: 20px;
}

input[type=radio] {
    margin-bottom: 25px;
}

input[type=time],input[type=date] {
    font-family: 'Avenir Next', sans-serif;
    font-size: 20px;
    width: 12vh;
}

input[type=submit],.button-span {
    display: inline-block;
    width: 8em;
    color: #dcd0c0;
    background-color: #fc4a1a;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

input[type=submit]:hover ,.button-span:hover {
    background-color: #f7b733;
    color:#dcd0c0;
    box-shadow: inset 0 0 0 0px #211F1F;
}

select {
    background: linear-gradient(#F2F2F2, #D4D4D4);
    margin:auto;
    margin-bottom: 2px;
    display: inline-block;
    box-shadow: inset 0 2px 0 #dcd0c0;
    border-radius: 3px;
    border: 1px solid #979797;
    font-size: 3vh;
    text-align: left;
    width: 50%;
}

textarea{
    border: 1px solid #979797;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    margin: 10px auto;
    height: 20vh;
    width: 50%;
    padding: 20px 10px;
    font-size: 14px;
    background-color: #FEFCF9;
}

input{
    margin: 6px 0;
    align-self: right;
    padding: 4px;
    font-size: 2.5vh;
    border-radius: 5px;
}

input[type=number]{
   width: 20px;
}


.small-input{
    width: 40px;
}
input:focus{
    background-color: #F9E79F  ;
    /*border: 0.25px solid #FC4A1A ;*/

}

input[type=submit], .button-span {
    border-radius: 10px;
}

label{
    text-align: right;
    width:20%;
    margin: 4px;
    font-size: 2.5vh;
    font-weight: bold;
}


.link-to{
    color:  #f7b733;
    font-size: 3vh;
    width: 100%;
    font-weight: bolder;
}

.link-small{
    color:  #f7b733;
    font-size: 2.5vh;
    width: 100%;
}

.link-to:hover{
    color: #FC4A1A;
}

.main-header{
    font-size: 2em;
}

.sub-header{
    font-size: 1.5em;
}

/***************************************************************************************/
.button-container{
    margin: auto;
    width: 40%;
    display: flex;
    justify-content:space-between;
}

/***********************headers ****************************************************/


.page-tittle {
  background: #FC4A1A;
  color: #dcd0c0;
  padding: 1em;
  font-size: 3.5vh;
  font-weight: bold;
  width: 100%;
}

/***********************inputs container ****************************************************/


  .input-container{
    margin-top: 1vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .input-container > label {
    text-align: right;
    width:25%;
    margin: 4px;
    font-size: 2.5vh;
    color:  #f7b733;
    font-weight: bold;
  }

  .input-container > .normal-input,textarea {
    margin: 4px;
    text-align: left;
    width:65%;
    margin-right: 10%;
  }

  .input-container > .small-input {
    margin: 4px;
    text-align: left;
    width:45%;
    margin-right:30%
  }

  .dropdown-container{
    margin-top: 1vh;
    width: 100%;
    display: block;
    align-items: center;
  }

  .dropdown-container > label {
    text-align: center;
    width:100%;
    margin: 4px;
    font-size: 2.5vh;
    color:  #f7b733;
    font-weight: bold;
  }

/*****************inputs container ***********************************************************/



  .input-container2 {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-container2 > label {
    text-align: right;
    width:15%;
    margin: 4px;
    font-size: 2.5vh;
    color:  #f7b733;
    font-weight: bold;
  }


  .input-container2 > input {
    margin: 4px;
    text-align: left;
    width:25%;
    margin-right: 10%;
  }


/***************inputs container 3 ***********************************************************/



.input-container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container3 > label {
    text-align: center;
    width:100%;
    margin: 4px;
    font-size: 2.5vh;
    font-weight: bold;
}


.input-container3 > input {
    margin: 4px;
    text-align: left;
    width:100%;
}


/**************** containers*****************************************************************/

.main-container {
    height: 90vh;
    display: flex;
    background-image: url('https://static.pexels.com/photos/2116/money-gold-coins-finance.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    width: 100%;
}

.sub-container {
    background-color:rgba(0, 0, 0, .6)  ;
    width: 60%;
    border-radius: 10px;
    position: relative;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px #040000;
}


.sub-container3 {
    background-color:rgba(0, 0, 0, .8)  ;
    width: 96%;
    height: 96%;
    border-radius: 10px;
    position: relative;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 10px #040000;
}

.sub-container4 {
    background-color:transparent; ;
    border-radius: 10px;
    position: relative;
    padding:0;
    display:flex;
    margin: 0;
}

.main-container2  {
    height: 95vh;
    margin: 2vh auto;
    border-radius: 10px;
}


.sub-container2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
    margin: auto;
    width: 30%;
    border-radius: 10px;
}

/*********************************************************************************/
  /* LOGIN PAGE */

  .login-form {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    padding: 40px;
  }

/*********************************************************************************/


.nav {
    display: flex;
    float: right;
    width: 80%;
    font-weight:900;
}

.nav2 {
    width: 20%;
    display: flex;
    align-items: right;
}

.nav-list {
    font-weight: bold;
    font-size:1.3em;
}

.nav-item  {
    margin: auto;
    color: #dcd0c0
}

.nav-item a:hover {
    /* background: #dcd0c0; */
    color: #FC4A1A;
    font-size: 1.1em;
    transition: .3s;
}


ul {
    width: 100%;
    text-align: center;
    display: flex;
    float: left;
}


main {
    background-color: #F5F5F5;
}



.main-transaction-list{
  width: 100vh;

  background-color: #dcd0c0;
}

.transaction-list {
    width: 90%;
    margin: auto;
    height: 80vh;
    overflow: auto;
    background: transparent;
    color: black;
    display: flex;
    flex-direction: column;
}

.small-list {
    width: 60%;
}

.transaction-list-header{
    width: 98%;
    height: 40px;
    margin:  10px;
    display: flex;
    border-radius: 10px 10px 0  0 ;
    background-color:#f7b733;

}

.transaction-list-header{
    border-top: 8px solid  #FC4A1A;
    border-radius: 10px;
}

.transaction-list-header{
    width: 98%;
    height: 40px;
    margin:  10px;
    display: flex;
    border-radius: 10px 10px 0  0 ;
    background-color:balck;
    height: 8vh;
    overflow: hidden;

}


.transaction-list-header > div >.transaction-info {
    color: black;
    font-weight: bold;
    margin:  auto 0;
}

.transaction-list-detail{
    width: 98%;
    height: 8vh;
    overflow: hidden;
    display: flex;
    margin:  0;
    padding: 0;
    display: flex;
    margin:  0 10px;
    background-color: #F0E68C;
/*    background-color: rgba(255,230,0,0.3);
*/    box-shadow: 3px 3px 2px rgba(0,0,0,0.25)
}

.transaction-info{
    margin-left:5px;
    color: black;
    font-weight: normal;
    font-size: 2.5vh;
    text-align: left;
    word-wrap: break-word;
    margin: auto 5px;
}
/*general*/

.red{
    color:red;
}

.blue{
    color:blue;
}


.transaction-detail,.transaction-no,.transaction-name, .transaction-description, .transaction-date,
.transaction-detail,.transaction-button
{
    word-wrap: break-word;
    /*overflow: auto;*/
    height: 8vh;
    display: flex;
    word-wrap: break-word;

}
.transaction-no{
    width: 3%;
}

.transaction-name{
    width: 15%;
}

.transaction-description{
    width: 20%;
}

.transaction-date{
    width: 9%;
}

.transaction-detail{
    width: 10%;
}

.transaction-button{
    width: 7%;
}

.transaction-button > input, .transaction-button > a > span {
    width:99%;
    height:80%;
    font-size: 2.5vh;
    font-weight: normal;
}


 .transaction-no-edit{
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #979797;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    text-align: left;
    font-size: 20px;
    background-color: #FEFCF9;
    height: 40px;
    width: 65%;
    margin-right: 10%;
    vertical-align: center;

 }

.List {
  width: 80%;
  position: relative;
  top: 15%;
  left: 10%;
  border-top: 1px solid gray;
}


a {
  color: #dcd0c0;
  text-decoration: none; /* no underline */
}

a:link{
  text-decoration: none;
  color: none;
}

a:visited {
  text-decoration: none;

  color: none;
}
a:hover {
  text-decoration: none;
  color: none;
}

a:active {
  text-decoration: none;
  color: none;
}

.button {
  border: 2px solid black
}


.hero-container {
  display: flex-end;
  padding: 40px;
  margin-top: 100px;
}

.hero-text2 {
  border-radius: 10px;
  background: #FC4A1A;
  color: white ;/*#dcd0c0;*/
  padding: 1em;
  font-size: 30px;
  font-weight: bold;

}



.welcome-text {
  font-size: 60px;
  color: #f7b733;
  padding-bottom: .5em;
}

/* Header */


.header {
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 1.5px #0E0219;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
  display: flex;
  background-color: black;
  width: 100%;
  color: #dcd0c0;
  z-index: 1000;
}

.home-page {
  padding-top: 10vh;
  display: inline-block;
  height: 92vh;
  background-image: url('https://static.pexels.com/photos/9660/business-money-pink-coins.jpg');
  background-size: 100% 100%;
  background-blend-mode: overlay;
  width: 100%;
}

.user-info{
  width: 30%;
  margin: 0;
}






